<phpunit>
    <testsuites>
        <testsuite name="Pale Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
